body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #35797b;
    font-family: Arial, sans-serif;
    margin: 0;
}

.calculator {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#display {
    width: 95%;
    height: 50px;
    background-color: #222;
    color: white;
    border: none;
    text-align: right;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    height: 50px;
    font-size: 18px;
    background-color: #444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #555;
}

button.equals {
    grid-column: span 2;
    background-color: #ff9500;
}

button.equals:hover {
    background-color: #e68a00;
}

#goBackButton {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#goBackButton:hover {
    background-color: #45a049;
}