body {
    overflow: hidden;
    background-color: #35797b;
}

#arrowId {
    position: absolute;
    width: 200px;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes down {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}