body {
    overflow: hidden;
    background-color: #35797b;
}

#arrowId {
    position: absolute;
    width: 200px;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    animation-name: down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes down {
    0% {
        top: -100%;
    }

    100% {
        top: 100%;
    }
}

#controls {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    color: #35797b;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

button:hover {
    background-color: #35797b;
    color: #fff;
}

#goBackButton {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#goBackButton:hover {
    background-color: #45a049;
}