.container {
  width: 300px;
  padding: 20px;
  margin: auto;
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  position: relative; /* Position relative for absolute positioning of the counter */
  text-align: center; /* Center text and elements */
  height: 400px; /* Set a fixed height for the container */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space between input/button and attempts counter */
}

#container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns for 5 letters */
  width: 100%; /* Full width of the container */
  gap: 5px;
  margin-bottom: 10px; /* Space between letters and attempts counter */
}

.letter {
  padding: 10px;
  background-color: red;
}

input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

#TRY {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  box-sizing: border-box;
}

#TRY:hover {
  background-color: #0056b3;
}

#attempts {
  margin-top: 10px;
}

  
  
  body {
    background-color: #35797b; /* Page background */
    margin: 0; /* Remove default margin */
    height: 100vh; /* Ensure the body takes full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #goBackButton {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#goBackButton:hover {
    background-color: #45a049;
}
  